.about-us {
    display: flex;
    width: 100%;
    height: 450vh;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    background-color: #ffffff;
    background-attachment: fixed;
    background-size: cover;
}

.serve{
    position: relative;
    top: -42.5%;
    opacity: 0.5 ;

}

.abt{
    font-family: sans-serif;
    color: rgb(0, 105, 0);
    position: absolute;
    left: 100px;
    top: 150px;
    font-size: 35px;
}

.text{
    position:absolute;
    left: 100px;
    top: 250px;
    font-size: 20px;
}

.brd{
    position: absolute;
    left: 8%;
    top: 140%;
    width: 85% ;
    height: 90vh;
    border: transparent;
    border-radius: 5px;
    background:#6dfb79;
    background-attachment: fixed;
    background-size: cover;
}

.best{
    font-family: sans-serif;
    position:absolute;
    top: 50px;
    
}


.sprk{
    position: absolute;
    font-family: sans-serif;
    font-size: 30px;
    top: 90px;
    left: 100px;
}



.clean1 {
    position: absolute;
    left: 10%;
    bottom: -115%;
    max-width: 350px;
    border-radius: 0.5rem;
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    border: 1px solid transparent;
}

.cardclean1 a {
    text-decoration: none
}

.contentclean1 {
    padding: 1.1rem;
}

.imageclean1 {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 6px;
    width: 100%;
    height: 250px;
    background-image: url('./images/cleaning1.jpg');
}

.titleclean1 {
    color: #111827;
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 600;
}

.descclean1 {
    margin-top: 0.5rem;
    color: #6B7280;
    font-size: 0.875rem;
    line-height: 1.25rem;
}




.clean2 {
    position: absolute;
    left: 31%;
    bottom: -115%;
    max-width: 350px;
    border-radius: 0.5rem;
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    border: 1px solid transparent;
}

.clean2 a {
    text-decoration: none
}

.contentcclean2 {
    padding: 1.1rem;
}

.imageclean2 {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 6px;
    width: 100%;
    height: 250px;
    background-image: url('./images/costumize.jpg');
}

.titleclean2 {
    color: #111827;
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 600;
}

.descclean2 {
    margin-top: 0.5rem;
    color: #6B7280;
    font-size: 0.875rem;
    line-height: 1.25rem;
}



.clean3  {
    position: absolute;
    left: 52%;
    bottom: -115%;
    max-width: 350px;
    border-radius: 0.5rem;
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    border: 1px solid transparent;
}

.clean3  a {
    text-decoration: none
}

.contentcclean3  {
    padding: 1.1rem;
}

.imageclean3 {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 6px;
    width: 100%;
    height: 250px;
    background-image: url('./images/deep.jpg');
}

.titleclean3  {
    color: #111827;
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 600;
}

.descclean3 {
    margin-top: 0.5rem;
    color: #6B7280;
    font-size: 0.875rem;
    line-height: 1.25rem;
}


.clean4  {
    position: absolute;
    left: 72.5%;
    bottom: -115%;
    max-width: 350px;
    border-radius: 0.5rem;
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    border: 1px solid transparent;
}

.clean4  a {
    text-decoration: none
}

.contentcclean4  {
    padding: 1.6rem;
}

.imageclean4 {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 6px;
    width: 100%;
    height: 255px;
    background-image: url('./images/regular.jpg');
}

.titleclean4  {
    color: #111827;
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 600;
}

.descclean4 {
    margin-top: 0.5rem;
    color: #6B7280;
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.packages{
    position: absolute;
    left: 6%;
    top: 260%;
    width:90%;
    height: 170vh;
    border: transparent;
    border-radius: 5px;
    background-image: url('./images/pack.jpg');
    background-size: cover;
}

.t1{
    font-family: sans-serif;
    font-size: 1.5rem;
    position:relative;
    top: 20px;
    left: 10%;
}

.pak{
    font-family: sans-serif;
    font-size: 1.2rem;
    position:relative;
    top: 20px;
    left: 10%;
}

.pack1 {
    position: relative;
    right: -10%;
    top: 15%;
    width: 33%;
    height: 554px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.212);
    background: #fff;
    display: flex;
    border-radius: 20px;
    justify-content: center;
    position: relative;
    transition: all .4s;
}

.pack1::before {
    content: 'Package 1: Sparkling Starter';
    letter-spacing: 0.2rem;
    position: absolute;
    bottom: 8px;
    left: 20px;
    color: rgb(51, 51, 51);
    font-size: 0.5em;
    font-weight: 700;
}

.pack1 div {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.212);

    z-index: 10;
    transition: all .4s;
    background-color: #fff;
}

.pack1:hover div {
    transform: translateY(-30px);
}

.packs1{
    text-align: center;
    font-size: 1.1rem;
    position: relative;
    top: 10px;
}

.des1{
    text-align: center;
    font-size: 12px;
    position: relative;
    top: 20px;
}


.serv1{
    text-align: center;
    font-size: 1.1rem;
    position: relative;
    top: 40px;
}

.servi1{
    text-align: start;
    font-size: 1rem;
    position: relative;
    top: 85px;
    left: 10%;
}

.vacc{
    text-align: start;
    font-size: 1.1rem;
    position: relative;
    top: 80px;
    left: 10%;
}

.dust1{
    text-align: start;
    font-size: 1.1rem;
    position: relative;
    top: 100px;
    left: 10%;
}

.dusty1{
    text-align:start;
    font-size: 1rem;
    position: relative;
    top: 110px;
    left: 10%;
}
.dust2{
    text-align: start;
    font-size: 1.1rem;
    position: relative;
    top: 120px;
    left: 10%;
}

.dusty2{
    text-align:start;
    font-size: 1rem;
    position: relative;
    top: 130px;
    left: 10%;
}

.dust3{
    text-align: start;
    font-size: 1.1rem;
    position: relative;
    top: 140px;
    left: 10%;
}

.dusty3{
    text-align:start;
    font-size: 1rem;
    position: relative;
    top: 150px;
    left: 10%;
}

.price1 {
    transition: all 0.3s ease-in-out;
    font-family: "Dosis", sans-serif;
}

.price1{
    position: absolute;
    bottom: 5vh;
    left: 35%;
    width: 160px;
    height: 50px;
    border-radius: 50px;
    background-image: linear-gradient(135deg, #abfe92 0%, #54ea6d 100%);
    box-shadow: 0 20px 30px -6px rgba(97, 238, 104, 0.5);
    outline: none;
    cursor: pointer;
    border: none;
    font-size: 18px;
    color: rgb(0, 0, 0);
}

.price1:hover {
    transform: translateY(3px);
    box-shadow: none;
}

.price1:active {
    opacity: 0.5;
}






.pack2 {
    position: relative;
    right: -57%;
    top: -20.5%;
    width: 33%;
    height: 554px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.212);
    background: #fff;
    display: flex;
    border-radius: 20px;
    justify-content: center;
    position: relative;
    transition: all .4s;
}

.pack2::before {
    content: 'Package 2: Deluxe Deep Dive';
    letter-spacing: 0.2rem;
    position: absolute;
    bottom: 8px;
    left: 20px;
    color: rgb(51, 51, 51);
    font-size: 0.5em;
    font-weight: 700;
}

.pack2 div {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.212);

    z-index: 10;
    transition: all .4s;
    background-color: #fff;
}

.pack2:hover div {
    transform: translateY(-30px);
}

.packs2{
    text-align: center;
    font-size: 1.1rem;
    position: relative;
    top: 10px;
}

.des2{
    text-align: center;
    font-size: 12px;
    position: relative;
    top: 20px;
}


.serv2{
    text-align: center;
    font-size: 1.1rem;
    position: relative;
    top: 40px;
}

.floor{
    text-align: start;
    font-size: 1.1rem;
    position: relative;
    top: 70px;
    left: 10%;
}
.servi2{
    text-align: start;
    font-size: 1rem;
    position: relative;
    top: 80px;
    left: 10%;
}

.dust4{
    text-align: start;
    font-size: 1.1rem;
    position: relative;
    top: 100px;
    left: 10%;
}

.dusty4{
    text-align:start;
    font-size: 1rem;
    position: relative;
    top: 110px;
    left: 10%;
}
.dust5{
    text-align: start;
    font-size: 1.1rem;
    position: relative;
    top: 120px;
    left: 10%;
}

.dusty5{
    text-align:start;
    font-size: 1rem;
    position: relative;
    top: 130px;
    left: 10%;
}

.dust6{
    text-align: start;
    font-size: 1.1rem;
    position: relative;
    top: 140px;
    left: 10%;
}

.dusty6{
    text-align:start;
    font-size: 1rem;
    position: relative;
    top: 150px;
    left: 10%;
}

.price2 {
    transition: all 0.3s ease-in-out;
    font-family: "Dosis", sans-serif;
}

.price2{
    position: absolute;
    bottom: 5vh;
    left: 35%;
    width: 160px;
    height: 50px;
    border-radius: 50px;
    background-image: linear-gradient(135deg, #abfe92 0%, #54ea6d 100%);
    box-shadow: 0 20px 30px -6px rgba(97, 238, 104, 0.5);
    outline: none;
    cursor: pointer;
    border: none;
    font-size: 18px;
    color: rgb(0, 0, 0);
}

.price2:hover {
    transform: translateY(3px);
    box-shadow: none;
}

.price2:active {
    opacity: 0.5;
}













.pack3 {
    position: relative;
    right: -10%;
    top: -10%;
    width: 33%;
    height: 554px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.212);
    background: #fff;
    display: flex;
    border-radius: 20px;
    justify-content: center;
    position: relative;
    transition: all .4s;
}

.pack3::before {
    content: 'Package 3: Fresh Start Frenzy';
    letter-spacing: 0.2rem;
    position: absolute;
    bottom: 8px;
    left: 20px;
    color: rgb(51, 51, 51);
    font-size: 0.5em;
    font-weight: 700;
}

.pack3 div {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.212);

    z-index: 10;
    transition: all .4s;
    background-color: #fff;
}

.pack3:hover div {
    transform: translateY(-30px);
}

.packs3{
    text-align: center;
    font-size: 1.1rem;
    position: relative;
    top: 10px;
}

.des3{
    text-align: center;
    font-size: 12px;
    position: relative;
    top: 20px;
}


.serv3{
    text-align: center;
    font-size: 1.1rem;
    position: relative;
    top: 40px;
}

.magic{
    text-align: start;
    font-size: 1.1rem;
    position: relative;
    top: 70px;
    left: 10%;
}

.servi3{
    text-align: start;
    font-size: 1rem;
    position: relative;
    top: 85px;
    left: 10%;
}

.surf{
    text-align: start;
    font-size: 1.1rem;
    position: relative;
    top: 100px;
    left: 10%;
}

.surface{
    text-align:start;
    font-size: 1rem;
    position: relative;
    top: 110px;
    left: 10%;
}
.bath{
    text-align: start;
    font-size: 1.1rem;
    position: relative;
    top: 120px;
    left: 10%;
}

.bat{
    text-align:start;
    font-size: 1rem;
    position: relative;
    top: 130px;
    left: 10%;
}



.kud{
    text-align: start;
    font-size: 1.1rem;
    position: relative;
    top: 140px;
    left: 10%;
}

.kudos{
    text-align:start;
    font-size: 1rem;
    position: relative;
    top: 150px;
    left: 10%;
}

.frid{
    text-align: start;
    font-size: 1.1rem;
    position: relative;
    top: 160px;
    left: 10%;
}

.rev{
    text-align:start;
    font-size: 1rem;
    position: relative;
    top: 180px;
    left: 10%;
}

.price3 {
    transition: all 0.3s ease-in-out;
    font-family: "Dosis", sans-serif;
}

.price3{
    position: absolute;
    bottom: 3vh;
    left: 35%;
    width: 160px;
    height: 50px;
    border-radius: 50px;
    background-image: linear-gradient(135deg, #abfe92 0%, #54ea6d 100%);
    box-shadow: 0 20px 30px -6px rgba(97, 238, 104, 0.5);
    outline: none;
    cursor: pointer;
    border: none;
    font-size: 18px;
    color: rgb(0, 0, 0);
}

.price3:hover {
    transform: translateY(3px);
    box-shadow: none;
}

.price3:active {
    opacity: 0.5;
}















.pack4 {
    position: relative;
    right: -57%;
    top: -45%;
    width: 33%;
    height: 554px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.212);
    background: #fff;
    display: flex;
    border-radius: 20px;
    justify-content: center;
    position: relative;
    transition: all .4s;
}

.pack4::before {
    content: 'Package 4: Your Dream Clean';
    letter-spacing: 0.2rem;
    position: absolute;
    bottom: 8px;
    left: 20px;
    color: rgb(51, 51, 51);
    font-size: 0.5em;
    font-weight: 700;
}

.pack4 div {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.212);

    z-index: 10;
    transition: all .4s;
    background-color: #fff;
}

.pack4:hover div {
    transform: translateY(-30px);
}

.packs4{
    text-align: center;
    font-size: 1.1rem;
    position: relative;
    top: 10px;
}

.des4{
    text-align: center;
    font-size: 12px;
    position: relative;
    top: 20px;
}


.serv4{
    text-align: center;
    font-size: 1.1rem;
    position: relative;
    top: 40px;
}

.serving{
    text-align: start;
    font-size: 1.1rem;
    position: relative;
    top: 80px;
    left: 10%;
}
.servi4{
    text-align: start;
    font-size: 1rem;
    position: relative;
    top: 85px;
    left: 10%;
}

.cost{
    text-align: start;
    font-size: 1.1rem;
    position: relative;
    top: 90px;
    left: 10%;
}

.costy{
    text-align: start;
    font-size: 1rem;
    position: relative;
    top: 100px;
    left: 10%;
}


.price4 {
    transition: all 0.3s ease-in-out;
    font-family: "Dosis", sans-serif;
}

.price4{
    position: absolute;
    bottom: 5vh;
    left: 35%;
    width: 160px;
    height: 50px;
    border-radius: 50px;
    background-image: linear-gradient(135deg, #abfe92 0%, #54ea6d 100%);
    box-shadow: 0 20px 30px -6px rgba(97, 238, 104, 0.5);
    outline: none;
    cursor: pointer;
    border: none;
    font-size: 18px;
    color: rgb(0, 0, 0);
}

.price4:hover {
    transform: translateY(3px);
    box-shadow: none;
}

.price4:active {
    opacity: 0.5;
}

