body{
    padding: 0%;
    margin: 0%;
}
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 9px;
}
.services{
    background: lightblue;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 100px;
    padding: 0%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

h1{
    text-align: center;
    font-family: sans-serif;
    top: 40%;
    right: 42%;
    color: rgb(255, 255, 255);
    font-size: 40px;
}
.descript {
    text-align: center;
    font-family: sans-serif;
    top: 48%;
    right: 26%;
    color: rgb(255, 255, 255);
    font-size: 20%;
}


.table{
    padding-top: 20px;
    width: 100%;
    
}




.card5 {
    left: 16%;
    bottom: -32%;
    max-width: 500px;
    max-height: 700px;
    border-radius: 0.5rem;
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    border: 1px solid transparent;
    -webkit-box-shadow: 1px 1px 12px #000000;
    box-shadow: 1px 1px 12px #000000;
}

.card5 a {
    text-decoration: none
}

.content5 {
    padding: 1.1rem;
}

.image5 {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 6px;
    width: 100%;
    height: 250px;
    background-image: url('./images/cleaning1.jpg');
}

.title5 {
    color: #111827;
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 600;
}

.desc5 {
    margin-top: 0.5rem;
    color: #6B7280;
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.action5 {
    display: inline-flex;
    margin-top: 1rem;
    color: #ffffff;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    align-items: center;
    gap: 0.25rem;
    background-color: #0066ff;
    padding: 4px 8px;
    border-radius: 4px;
}

.action5 span {
    transition: .3s ease;
}

.action5:hover span {
    transform: translateX(4px);
}





.card6 {
    left: 59%;
    bottom: -32%;
    max-width: 500px;
    max-height: 700px;
    border-radius: 0.5rem;
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    border: 1px solid transparent;
    -webkit-box-shadow: 1px 1px 12px #000;
    box-shadow: 1px 1px 12px #000;
}

.card6 a {
    text-decoration: none
}

.content6 {
    padding: 1.1rem;
}

.image6 {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 6px;
    width: 100%;
    height: 250px;
    background-image: url('./images/costumize.jpg');
}

.title6 {
    color: #111827;
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 600;
}

.desc6 {
    margin-top: 0.5rem;
    color: #6B7280;
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.action6 {
    display: inline-flex;
    margin-top: 1rem;
    color: #ffffff;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    align-items: center;
    gap: 0.25rem;
    background-color: #0066ff;
    padding: 4px 8px;
    border-radius: 4px;
}

.action6 span {
    transition: .3s ease;
}

.action6:hover span {
    transform: translateX(4px);
}




.card7 {
    left: 16%;
    bottom: -110%;
    max-width: 500px;
    max-height: 700px;
    border-radius: 0.5rem;
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    border: 1px solid transparent;
    -webkit-box-shadow: 1px 1px 12px #000;
    box-shadow: 1px 1px 12px #000;
}

.card7 a {
    text-decoration: none
}

.content7 {
    padding: 1.1rem;
}

.image7 {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 6px;
    width: 100%;
    height: 250px;
    background-image: url('./images/deep.jpg');
}

.title7 {
    color: #111827;
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 600;
}

.desc7 {
    margin-top: 0.5rem;
    color: #6B7280;
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.action7 {
    display: inline-flex;
    margin-top: 1rem;
    color: #ffffff;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    align-items: center;
    gap: 0.25rem;
    background-color: #0066ff;
    padding: 4px 8px;
    border-radius: 4px;
}

.action7 span {
    transition: .3s ease;
}

.action7:hover span {
    transform: translateX(4px);
}




.card8 {
    left: 59%;
    bottom: -110%;
    max-width: 500px;
    max-height: 700px;
    border-radius: 0.5rem;
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    border: 1px solid transparent;
    -webkit-box-shadow: 1px 1px 12px #000;
    box-shadow: 1px 1px 12px #000;
}

.card8 a {
    text-decoration: none
}

.content8 {
    padding: 1.1rem;
}

.image8 {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 6px;
    width: 100%;
    height: 250px;
    background-image: url('./images/regular.jpg');
}

.title8 {
    color: #111827;
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 600;
}

.desc8 {
    margin-top: 0.5rem;
    color: #6B7280;
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.action8 {
    display: inline-flex;
    margin-top: 1rem;
    color: #ffffff;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    align-items: center;
    gap: 0.25rem;
    background-color: #0066ff;
    padding: 4px 8px;
    border-radius: 4px;
}

.action8 span {
    transition: .3s ease;
}

.action8:hover span {
    transform: translateX(4px);
}


@media all and (max-width: 960px) {
    body{
        padding: 0%;
        margin: 0%;
    }
    .services{
        background: linear-gradient(90deg, rgb(249, 249, 249) 0%);
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        font-size: 100px;
        padding: 0%;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    
    h1{
        font-family: sans-serif;
        top: 38%;
        right: 43%;
        color: rgb(0, 0, 0);
        font-size: 25px;
    }
    .descript {
        justify-content: center;
        text-align: center;
        align-items: center;
        font-family: sans-serif;
            top: 43%;
        right: 15.5%;
        color: rgb(0, 0, 0);
        font-size: 15%;
    }
    
    
    .table{
        width: 100% ;
        border: transparent;
        border-radius: 5px;
        background-attachment: fixed;
        background-size: cover;
    }
    
    
    
    
    .card5 {
        left: 1.2%;
        bottom: -28%;
        max-width: 450px;
        border-radius: 0.5rem;
        background-color: #fff;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
        border: 1px solid transparent;
    }
    
    .card5 a {
        text-decoration: none
    }
    
    .content5 {
        padding: 1.1rem;
    }
    
    .image5 {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 6px;
        width: 100%;
        height: 250px;
        background-image: url('./images/cleaning1.jpg');
    }
    
    .title5 {
        color: #111827;
        font-size: 1.125rem;
        line-height: 1.75rem;
        font-weight: 600;
    }
    
    .desc5 {
        margin-top: 0.5rem;
        color: #6B7280;
        font-size: 0.875rem;
        line-height: 1.25rem;
    }
    
    .action5 {
        display: inline-flex;
        margin-top: 1rem;
        color: #ffffff;
        font-size: 0.875rem;
        line-height: 1.25rem;
        font-weight: 500;
        align-items: center;
        gap: 0.25rem;
        background-color: #0066ff;
        padding: 4px 8px;
        border-radius: 4px;
    }
    
    .action5 span {
        transition: .3s ease;
    }
    
    .action5:hover span {
        transform: translateX(4px);
    }
    
    
    
    
    
    .card6 {
        left: 52%;
        bottom: -28%;
        max-width: 450px;
        border-radius: 0.5rem;
        background-color: #fff;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
        border: 1px solid transparent;
    }
    
    .card6 a {
        text-decoration: none
    }
    
    .content6 {
        padding: 1.1rem;
    }
    
    .image6 {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 6px;
        width: 100%;
        height: 270px;
        background-image: url('./images/costumize.jpg');
    }
    
    .title6 {
        color: #111827;
        font-size: 1.125rem;
        line-height: 1.75rem;
        font-weight: 600;
    }
    
    .desc6 {
        margin-top: 0.5rem;
        color: #6B7280;
        font-size: 0.875rem;
        line-height: 1.25rem;
    }
    
    .action6 {
        display: inline-flex;
        margin-top: 1rem;
        color: #ffffff;
        font-size: 0.875rem;
        line-height: 1.25rem;
        font-weight: 500;
        align-items: center;
        gap: 0.25rem;
        background-color: #55e15aca;
        padding: 4px 8px;
        border-radius: 4px;
    }
    
    .action6 span {
        transition: .3s ease;
    }
    
    .action6:hover span {
        transform: translateX(4px);
    }
    
    
    
    
    .card7 {
        left: 1%;
        bottom: -110%;
        max-width: 450px;
        border-radius: 0.5rem;
        background-color: #fff;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
        border: 1px solid transparent;
    }
    
    .card7 a {
        text-decoration: none
    }
    
    .content7 {
        padding: 1.1rem;
    }
    
    .image7 {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 6px;
        width: 100%;
        height: 250px;
        background-image: url('./images/deep.jpg');
    }
    
    .title7 {
        color: #111827;
        font-size: 1.125rem;
        line-height: 1.75rem;
        font-weight: 600;
    }
    
    .desc7 {
        margin-top: 0.5rem;
        color: #6B7280;
        font-size: 0.875rem;
        line-height: 1.25rem;
    }
    
    .action7 {
        display: inline-flex;
        margin-top: 1rem;
        color: #ffffff;
        font-size: 0.875rem;
        line-height: 1.25rem;
        font-weight: 500;
        align-items: center;
        gap: 0.25rem;
        background-color: #55e15aca;
        padding: 4px 8px;
        border-radius: 4px;
    }
    
    .action7 span {
        transition: .3s ease;
    }
    
    .action7:hover span {
        transform: translateX(4px);
    }
    
    
    
    
    .card8 {
        left: 52%;
        bottom: -110%;
        max-width: 450px;
        border-radius: 0.5rem;
        background-color: #fff;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
        border: 1px solid transparent;
    }
    
    .card8 a {
        text-decoration: none
    }
    
    .content8 {
        padding: 1.1rem;
    }
    
    .image8 {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 6px;
        width: 100%;
        height: 270px;
        background-image: url('./images/regular.jpg');
    }
    
    .title8 {
        color: #111827;
        font-size: 1.125rem;
        line-height: 1.75rem;
        font-weight: 600;
    }
    
    .desc8 {
        margin-top: 0.5rem;
        color: #6B7280;
        font-size: 0.875rem;
        line-height: 1.25rem;
    }
    
    .action8 {
        display: inline-flex;
        margin-top: 1rem;
        color: #ffffff;
        font-size: 0.875rem;
        line-height: 1.25rem;
        font-weight: 500;
        align-items: center;
        gap: 0.25rem;
        background-color: #55e15aca;
        padding: 4px 8px;
        border-radius: 4px;
    }
    
    .action8 span {
        transition: .3s ease;
    }
    
    .action8:hover span {
        transform: translateX(4px);
    }
}

@media only screen and (max-width: 1200px) {
    .services{
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        font-size: 100px;
        padding: 0%;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    
    h1{
        font-family: sans-serif;
        color: rgb(0, 0, 0);
        font-size: 25px;
    }
    .descript {
        justify-content: center;
        text-align: center;
        align-items: center;
        font-family: sans-serif;
        color: rgb(0, 0, 0);
        font-size: 15%;
    }
    
    
    .table{
        background-color: lightblue;
        width: 100% ;
        border: transparent;
        border-radius: 5px;
        background-attachment: fixed;
        background-size: cover;
    }
    
    
    
    
    .card5 {
        left: 6%;
        bottom: -135%;
        max-width: 450px;
        border-radius: 0.5rem;
        background-color: #fff;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
        border: 1px solid transparent;
    }
    
    .card5 a {
        text-decoration: none
    }
    
    .content5 {
        padding: 1.1rem;
    }
    
    .image5 {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 6px;
        width: 100%;
        height: 250px;
        background-image: url('./images/cleaning1.jpg');
    }
    
    .title5 {
        color: #111827;
        font-size: 1.125rem;
        line-height: 1.75rem;
        font-weight: 600;
    }
    
    .desc5 {
        margin-top: 0.5rem;
        color: #6B7280;
        font-size: 0.875rem;
        line-height: 1.25rem;
    }
    
    .action5 {
        display: inline-flex;
        margin-top: 1rem;
        color: #ffffff;
        font-size: 0.875rem;
        line-height: 1.25rem;
        font-weight: 500;
        align-items: center;
        gap: 0.25rem;
        background-color: #0066ff;
        padding: 4px 8px;
        border-radius: 4px;
    }
    
    .action5 span {
        transition: .3s ease;
    }
    
    .action5:hover span {
        transform: translateX(4px);
    }
    
    
    
    
    
    .card6 {
        left: 57%;
        bottom: -135%;
        max-width: 450px;
        border-radius: 0.5rem;
        background-color: #fff;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
        border: 1px solid transparent;
    }
    
    .card6 a {
        text-decoration: none
    }
    
    .content6 {
        padding: 1rem;
    }
    
    .image6 {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 6px;
        width: 100%;
        height: 250px;
        background-image: url('./images/costumize.jpg');
    }
    
    .title6 {
        color: #111827;
        font-size: 1.125rem;
        line-height: 1.75rem;
        font-weight: 600;
    }
    
    .desc6 {
        margin-top: 0.5rem;
        color: #6B7280;
        font-size: 0.875rem;
        line-height: 1.25rem;
    }
    
    .action6 {
        display: inline-flex;
        margin-top: 1rem;
        color: #ffffff;
        font-size: 0.875rem;
        line-height: 1.25rem;
        font-weight: 500;
        align-items: center;
        gap: 0.25rem;
        background-color: #55e15aca;
        padding: 4px 8px;
        border-radius: 4px;
    }
    
    .action6 span {
        transition: .3s ease;
    }
    
    .action6:hover span {
        transform: translateX(4px);
    }
    
    
    
    
    .card7 {
        left: 6%;
        bottom: -280%;
        max-width: 450px;
        border-radius: 0.5rem;
        background-color: #fff;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
        border: 1px solid transparent;
    }
    
    .card7 a {
        text-decoration: none
    }
    
    .content7 {
        padding: 1.1rem;
    }
    
    .image7 {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 6px;
        width: 100%;
        height: 250px;
        background-image: url('./images/deep.jpg');
    }
    
    .title7 {
        color: #111827;
        font-size: 1.125rem;
        line-height: 1.75rem;
        font-weight: 600;
    }
    
    .desc7 {
        margin-top: 0.5rem;
        color: #6B7280;
        font-size: 0.875rem;
        line-height: 1.25rem;
    }
    
    .action7 {
        display: inline-flex;
        margin-top: 1rem;
        color: #ffffff;
        font-size: 0.875rem;
        line-height: 1.25rem;
        font-weight: 500;
        align-items: center;
        gap: 0.25rem;
        background-color: #55e15aca;
        padding: 4px 8px;
        border-radius: 4px;
    }
    
    .action7 span {
        transition: .3s ease;
    }
    
    .action7:hover span {
        transform: translateX(4px);
    }
    
    
    
    
    .card8 {
        left: 57%;
        bottom: -280%;
        max-width: 450px;
        border-radius: 0.5rem;
        background-color: #fff;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
        border: 1px solid transparent;
    }
    
    .card8 a {
        text-decoration: none
    }
    
    .content8 {
        padding: 1.1rem;
    }
    
    .image8 {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 6px;
        width: 100%;
        height: 250px;
        background-image: url('./images/regular.jpg');
    }
    
    .title8 {
        color: #111827;
        font-size: 1.125rem;
        line-height: 1.75rem;
        font-weight: 600;
    }
    
    .desc8 {
        margin-top: 0.5rem;
        color: #6B7280;
        font-size: 0.875rem;
        line-height: 1.25rem;
    }
    
    .action8 {
        display: inline-flex;
        margin-top: 1rem;
        color: #ffffff;
        font-size: 0.875rem;
        line-height: 1.25rem;
        font-weight: 500;
        align-items: center;
        gap: 0.25rem;
        background-color: #55e15aca;
        padding: 4px 8px;
        border-radius: 4px;
    }
    
    .action8 span {
        transition: .3s ease;
    }
    
    .action8:hover span {
        transform: translateX(4px);
    }
}