:root {
    --primary: #ffffff;
}

.sign-in-btn {
    padding: 8px 20px;
    border-radius: 4px;
    outline: none;
    border: none;
    font-size: 18px;
    color: #000000;
    cursor: pointer;
    background-color: var(--primary);
}

.sign-in-btn:hover {
    padding: 6px 18px;
    background-color: lightgreen;
    color: #000000;
    border-radius: 4px;
    border: 2px solid var(--primary);
}